html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    width: 100%;

}

#convert{
    color: white;
    width: 30%;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background-color: #f793d5;
}

.box2{
    display: flex; 
    width: 107%;
    margin-top: 10px;
}

#box{
    transition: 1s;
}

#box:hover{
    transform: scale(1.5);
}