body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.field{
    width: 400px;
    height: 400px;
    background-color: mediumpurple;
    border-radius: 5px;
    position: relative;
}

.field_cell{
    width:  81.25px;
    height: 81.25px;
    position: absolute;
    border-radius: 3px;
}

.field_cell_null{
    background-color: blueviolet;
}

.field_cell_tile {
    background-color: indigo;
    color: white;
    font-size: 42px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0,5s ease, top 0.5s ease;
}